*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  display: grid;
  grid-template-columns: 150px 1fr 150px ;
  height: 5vh;
  gap: 2px;
  margin-top: 5%;
 
}

.container div {
  border: 1px solid gray;
}  

img {
  width: 5em;
}
ul{
  list-style-type: none;
  display:grid;
  grid-template-columns: repeat(3 ,1fr);
  gap: 10px;
}
.lista-produtos div {
  border: 1px solid gray;
}